node_modules/
.idea
/vendor/
/vendor_prefixed/*
!/vendor_prefixed/.gitkeep
*.LICENSE.txt
*.js.map
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.php-cs-fixer.cache
coverage.xml
.vscode
