##
# Exclude from release archives.
#
# Here we add resources that are not needed in the download
# for production use.
##

#TOREMOVE .editorconfig			export-ignore
#TOREMOVE .eslintignore			export-ignore
#TOREMOVE .eslintrc				export-ignore
#TOREMOVE .gitattributes       	export-ignore
#TOREMOVE .gitignore           	export-ignore
#TOREMOVE .npmrc				export-ignore
#TOREMOVE .stylelintignore		export-ignore
#TOREMOVE .stylelintrc			export-ignore
#TOREMOVE CHANGELOG.md			export-ignore
#TOREMOVE README.md				export-ignore
#TOREMOVE composer.json			export-ignore
#TOREMOVE package.json			export-ignore
#TOREMOVE package-lock.json		export-ignore
#TOREMOVE webpack.config.js		export-ignore
#TOREMOVE phpstan.neon			export-ignore

#TOREMOVE .github				export-ignore
#TOREMOVE .git                 	export-ignore
#TOREMOVE .gitkeep			 	export-ignore

#TOREMOVE /assets/scripts/src	export-ignore
#TOREMOVE /assets/styles/src	export-ignore

##
# Don't try and diff these...
##
composer.lock -diff
package-lock.json -diff
*.map -diff
assets/scripts/dist/*.css -diff
assets/styles/dist/*.css -diff

##
# Handle line endings.
# See https://help.github.com/articles/dealing-with-line-endings/
##
* text eol=lf
*.php text
*.jpg binary
*.png binary
*.gif binary
*.ico binary
